@charset "UTF-8";

/* 以下 eric reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 以上 eric reset */
/* 變數區 */
:root {
    /* ctrl+H +> var(--xxxx)取代*/
    --bg: #151226;
    --blue: #71E5FF;
    --white1: #F0F0F0;
    --gray0: #C3C3C3;
    --gray1: #B1B1B1;
    --gray2: #7E7E7E;
    --gray3: #262626;
    --magenta: #CC58C7;

}

/* 共用區 */
* {
    box-sizing: border-box;
    /* 不累加border & padding */
}

@font-face {
    font-family: "akira";
    src: url(../webfonts/Akira\ Expanded\ Demo.otf);
}

@font-face {
    font-family: "coolvet";
    src: url(../webfonts/coolvetica\ rg.otf);
}

@font-face {
    font-family: "coolvet-it";
    src: url(../webfonts/coolvetica\ rg\ it.otf);
}

@font-face {
    font-family: "pixel_s";
    src: url(../webfonts/DePixelBreit.otf);
}

@font-face {
    font-family: "pixel_m";
    src: url(../webfonts/DePixelHalbfett.otf);
}

@font-face {
    font-family: "pixel_l";
    src: url(../webfonts/DePixelBreitFett.otf);
}

body {
    font-family:
        /* 英文有-或單詞不用引號 要給也可以 */
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    min-width: 1000px;
}

.home {
    color: var(--blue);
    /* 全網字體預設 */
    background-color: var(--bg);
}

.port {
    background-color: #1B0707;
}

img {
    display: block;
    width: 100%;
    /* svg預設100% */
}

a {
    display: block;
    color: white;
    text-decoration: none;
    /* 取消預設底線 */
}

/* topbar */
.topbar {
    display: flex;
    height: 90px;
}

.topbar .logo {
    flex: 1;
    border-bottom: #71E5FF solid 2px;
    font-family: 'akira';
    font-size: 2.5rem;
    line-height: 90px;
    padding-left: 35px;
}

.topbar .welcome {
    flex: 2;
    overflow: hidden;
    border: var(--blue) solid;
    border-width: 0 2px 2px 2px;
}

.weed {
    height: 52px;
    width: 60px;
}

.roll_text h1 {
    white-space: nowrap;
    font-family: 'akira';
    font-size: 2.5rem;
    line-height: 90px;
}

.topbar .roll_text {
    display: flex;
    align-items: center;
}

.r {
    animation: Scroll 20s linear infinite;
}

@keyframes Scroll {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(-100%, 0)
    }
}

.topbar .contact {
    flex: 1;
    border-bottom: #71E5FF solid 2px;
    color: var(--blue);
    font-family: 'coolvet';
    font-size: 2.5rem;
    line-height: 90px;
    text-align: end;
    padding-right: 35px;
}

.row1 {
    display: flex;
    font-family: 'akira';
    font-size: 2.5rem;
    height: 50vw;
    text-align: center;
    line-height: 90px;
}

.row1 .w98 {
    background-image: url(../images/w98.svg);
    background-size: cover;
    background-position: center;
    width: 50%;
    font-size: 4rem;
    line-height: 27vw;
    border: var(--blue) solid;
    border-width: 0 2px 2px 0;
    color: var(--blue);
}

.about {
    overflow: hidden;
    width: 50%;
    position: relative;
    border-bottom: var(--blue) solid 2px;
}

.name {
    height: 90px;
    z-index: 99;
    position: absolute;
}

.r2 {
    animation: Scroll2 10s linear infinite;
}

@keyframes Scroll2 {
    0% {
        left: 0;
    }

    50% {
        left: calc(100% - 492px);
        color: var(--blue);
    }

    51% {
        color: #4efa65;
    }

    100% {
        left: 0;
        color: #4efa65;
    }
}

.bg {
    width: 100%;
    border-bottom: var(--blue) solid 2px;
    background-color: var(--bg);
    height: 90px;
    z-index: 98;
    position: absolute;
}

.about h2 {
    position: absolute;
    top: 33%;
    width: 100%;
}

.circle_text {
    position: absolute;
    width: 90%;
    top: 10%;
    left: 5%;
    animation: rotate 40s forwards linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.self_pic {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 33%;
}

.arr_down {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--bg);
    border-top: var(--blue) 2px solid;
    display: flex;
    justify-content: space-around;
}

.arr_down>h1:nth-child(1),
.arr_down>h1:nth-child(3),
.arr_down>h1:nth-child(5),
.arr_down>h1:nth-child(7) {
    animation: flip 2s forwards linear infinite;
    font-weight: bold;
}

.arr_down>h1:nth-child(2),
.arr_down>h1:nth-child(4),
.arr_down>h1:nth-child(6) {
    animation: flip 2s 0.3s forwards linear infinite;
    font-weight: bold;
}

@keyframes flip {
    0% {
        transform: rotateY(0)
    }

    100% {
        transform: rotateY(180deg)
    }
}

.row2 {
    font-size: 2rem;
    font-family: 'coolvet';
    height: 200px;
    padding: 40px;
    border-bottom: var(--blue) 2px solid;
}

.row3 {
    font-size: 2.5rem;
    font-family: 'coolvet';
    border-bottom: var(--blue) 2px solid;
}

.row3>* {
    margin-left: 22%;
}

.skill {
    display: flex;
    height: 80px;
    margin-bottom: 50px;
    align-items: center;
}

.skill_box {
    width: 80px;
    margin-left: 40px;
}

.skill_score {
    margin-left: 40px;
    color: var(--white1);
}

.row4 {
    display: flex;
}

.edu {
    width: 50%;
}

.edu_top {
    border-bottom: var(--blue) 2px solid;
}

.experience {
    border-left: var(--blue) 2px solid;
    width: 50%;
}

.title {
    font-family: 'akira';
    font-size: 4rem;
    text-align: center;
    margin: 50px 0;
}

.timeline {
    max-width: 720px;
    margin-left: 10%;
}

.event {
    padding-bottom: 60px;
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.event .date {
    font-size: 16px;
    font-weight: bold;
    margin-right: 45px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.event .description {
    font-size: 14px;
    font-size: 1.5rem;
    color: var(--white1);
    line-height: 2rem;
}

.line {
    position: absolute;
    height: 100%;
    width: 0.1rem;
    background-color: var(--blue);
    left: calc(95px + 0.1rem);
    top: 1rem;
    /* 調整線條位置以對齊圓點 */
}

.event:last-child .line {
    display: none;
}

.event:before {
    content: '';
    position: absolute;
    top: 0.8rem;
    left: 95px;
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--blue);
    border-radius: 50%;
}

.row5 {
    border-top: var(--blue) 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.row5 h2 {
    font-family: 'coolvet';
    font-size: 2rem;
    line-height: 150%;
    color: var(--white1);
}

.contact_frame {
    width: 450px;
    padding: 10px 45px;
    animation: frame 4s both linear infinite;
    border-radius: 20px;
}

@keyframes frame {

    10% {
        box-shadow: var(--blue) 0 0 0;
        transform: translate3d(0px, 0px, 0px);

    }

    50% {
        box-shadow: var(--blue) -5px -5px 0;
        transform: translate3d(20px, 0px, 0px);
    }

    90% {
        box-shadow: var(--blue) 0 0 0;
        transform: translate3d(0px, 0px, 0px);
    }
}

/* portfolio */
.workpage {
    /* 分頁的背景 */
    background-image: url(/images/port/portbg.svg);
    background-size: cover;
    background-position: center;
}

.port section {
    background-image: url(/images/port/portbg.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.folders {
    color: white;
    display: flex;
    height: 36vh;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 70px;
}

.folders h1 {
    width: 70px;
    text-align: center;
}

.folders img {
    height: 70px;
}

.lowbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray0);
    border-width: 2px 0 0 2px;
    border: var(--white1) solid;
    position: fixed;
    width: 100%;
    bottom: 0;

}

.lowbar>* {
    display: flex;
}

.btn_start img {
    height: 24px;
    width: 24px;
    margin-left: 5px;
    margin-right: 10px;
}

.btn_start {
    background-color: var(--gray0);
    margin: 5px;
    box-shadow:
        inset var(--white1) 2px 2px,
        inset var(--gray1) 4px 4px,
        inset var(--gray3) -2px -2px,
        inset var(--gray2) -4px -4px;
    border: none;
    width: 100px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: black;
}

.btn_start h2 {
    font-size: 1rem;
    color: black;
    font-weight: 400;
    margin-left: 5px;
}

.time {
    background-color: var(--gray0);
    margin: 5px;
    box-shadow:
        inset var(--white1) -3px -3px,
        inset var(--gray3) 3px 3px;
    width: 110px;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.time img {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

/* video */

.window {
    height: calc(100vh - 50px);
    box-shadow:
        inset var(--white1) 2px 2px,
        inset var(--gray1) 4px 4px,
        inset var(--gray3) -2px -2px,
        inset var(--gray2) -4px -4px;
    background-color: var(--gray0);
    width: 90vw;
    min-width: 1250px;
    margin: 0 auto;
    padding: 5px;
}

.bluebar {
    font-family: 'pixel_s';
    font-size: 1.5rem;
    color: white;
    height: 40px;
    background: linear-gradient(90deg, #00007B, #1085D2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.close {
    box-shadow:
        inset var(--white1) 2px 2px,
        inset var(--gray1) 4px 4px,
        inset var(--gray3) -2px -2px,
        inset var(--gray2) -4px -4px;
    background-color: var(--gray0);
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
}

.close:active {
    box-shadow:
        inset var(--white1) -3px -3px,
        inset var(--gray3) 3px 3px;
}

.work {
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
    min-width: 1000px;
    height: calc(100vh - 100px);
}

.content_box {
    box-shadow:
        inset var(--white1) 2px 2px,
        inset var(--gray1) 4px 4px,
        inset var(--gray3) -2px -2px,
        inset var(--gray2) -4px -4px;

    padding: 15px 40px;

}

.content_box h1 {
    font-size: 2rem;
    color: var(--magenta);
    margin-bottom: 20px;
    font-family: 'pixel_s';
}

.descript {
    display: flex;
    justify-content: space-between;
}

.content_box h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.content_box h3 {
    font-size: 1rem;
    margin-right: 5px;
}

.tabs {
    display: flex;
    width: calc(100% - 4px);
    /*  position: relative;
    top: 4px; */
}

.tab {
    background-color: var(--gray0);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 3rem;
    height: 3rem;
    flex-grow: 1;
    box-shadow:
        inset var(--white1) 2px 2px,
        inset var(--gray1) 4px 4px,
        inset var(--gray3) -2px 0,
        inset var(--gray2) -4px 0;

}

.tab.active {
    flex-grow: 1;
    box-shadow:
        inset var(--gray3) -2px 0,
        inset var(--gray2) -4px 0,
        var(--gray1) -2px -2px,
        var(--white1) -4px -4px,
        var(--gray0) 0 4px;
    position: relative;
    left: 4px;

}

.content {
    display: none;
    font-size: 1rem;
    line-height: 1.5rem;
    height: calc(100vh - 190px);
}

.content.active {
    display: block;
    overflow: hidden;
}

.work_box {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 40px);
    padding: 5px 0;
    background-color: #3b7979;
    border-top: solid 3px var(--gray3);
    border-left: solid 3px var(--gray3);
    border-right: solid 3px var(--white1);
    border-bottom: solid 3px var(--white1);
}

.work_box .yt {
    width: 565px;
    height: 100%;
    margin-top: 50px;
}

.yt iframe {
    border-radius: 30px;
    border: solid 3px #b9b7e6;

}

.yt h3 {
    color: var(--white1);
    margin-bottom: 5px;
    
}

/* social */
.col2 {
    display: flex;
    padding: 0 50px;
    padding-top: 50px;
    color: var(--white1);
}

.col2_a,
.col2_b {
    width: 50%;
}

.col2_b {
    margin-left: 15px;
}

.col2_a {
    margin-right: 15px;
}

.col2_a h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-right: 150px;
    font-weight: bold;
}

